# Data Understanding

[data understanding books](https://rhindottire.github.io/Data-Mining/Tugas1.html)

## Data Gathering

In [2]:
import pandas as pd
sales_data = pd.read_csv('data/mobile_sales_data.csv')
print(sales_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product                  50000 non-null  object
 1   Brand                    50000 non-null  object
 2   Product Code             50000 non-null  object
 3   Product Specification    50000 non-null  object
 4   Price                    50000 non-null  int64
 5   Inward Date              50000 non-null  object
 6   Dispatch Date            50000 non-null  object
 7   Quantity Sold            50000 non-null  int64
 8   Customer Name            50000 non-null  object
 9   Customer Location        50000 non-null  object
 10  Region                   50000 non-null  object
 11  Core Specification       25017 non-null  object
 12  Processor Specification  50000 non-null  object
 13  RAM                      50000 non-null  object
 14  ROM                      50000 non-null  object
 15  SSD                      25017 non-null  object
dtypes: int64(2), object(14)
memory usage: 6.1+ MB
None

In [3]:
print(sales_data['Product Code'].is_unique)  # True jika unik

True

## Data Description

In [4]:
display(sales_data.describe())

               Price  Quantity Sold
count   50000.000000    50000.00000
mean   102641.407080        5.51378
std     56363.550361        2.88101
min      5008.000000        1.00000
25%     53487.000000        3.00000
50%    103072.000000        6.00000
75%    151396.250000        8.00000
max    199999.000000       10.00000

In [5]:
print(sales_data.dtypes)

Product                    object
Brand                      object
Product Code               object
Product Specification      object
Price                       int64
Inward Date                object
Dispatch Date              object
Quantity Sold               int64
Customer Name              object
Customer Location          object
Region                     object
Core Specification         object
Processor Specification    object
RAM                        object
ROM                        object
SSD                        object
dtype: object

## Data Exploration (EDA)

## Data Quality

In [6]:
print(sales_data.isnull().sum())

Product                        0
Brand                          0
Product Code                   0
Product Specification          0
Price                          0
Inward Date                    0
Dispatch Date                  0
Quantity Sold                  0
Customer Name                  0
Customer Location              0
Region                         0
Core Specification         24983
Processor Specification        0
RAM                            0
ROM                            0
SSD                        24983
dtype: int64